
<section class="hero-section d-flex align-items-center">
           <div class="anim-elements">
                <div class="anim-element"></div>
                <div class="anim-element"></div>
                <div class="anim-element"></div>
                <div class="anim-element"></div>
                <div class="anim-element"></div>
            </div>
            <div class="container">
                <div class="contact-wrap d-flex align-items-center row">
		            <div class="col-md-12 padding-15">
		                <div class="contact-form">
                             <%= render "form_update", user: @user %>
                        </div>
		            </div>
		        </div>
            </div>
</section>

<br>
